.skills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.skill {
  text-align: center;
  padding: 6px;
  border: 1px solid rgba(173, 126, 216, 0.5);
  width: 90px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(68, 106, 223, 0.2);
  transition: 0.3s box-shadow;
}
.skill .skill-name {
  color: #64ffda;
}
.skill:hover {
  box-shadow: 0 4px 8px 0 rgba(19, 42, 112, 0.5);
}
.skill p {
  font-size: 0.8rem;
  margin-top: 10px;
}

.skill .logo {
  width: 30px;
}

@media only screen and (max-width: 762px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
}
