.custom-container {
  width: 980px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 200px;
}
.section-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -10px;
  letter-spacing: 3px;
  color: rgb(247, 235, 235);
}

.section-value {
  border-radius: 30px;
}

.about-text p {
  font-size: 1.1rem;
  font-weight: 500;
}

.section-subHeading {
  position: relative;
  display: flex;
  align-items: center;
}
.section-subHeading p {
  margin-left: 60px;
  font-size: 0.8rem;
  color: yellowgreen;
}
.exp-title p {
  color: wheat;
}
.exp-desc {
  color: #8892b0;
  font-size: 15px;
}
.section-subHeading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 22px;
  height: 1px;
  width: 40px;
  margin-right: 5px;
  background-color: rgb(170, 170, 150);
  margin-right: 50px;
}
@media only screen and (max-width: 762px) {
  .section-value {
    padding: 8px;
  }
  .custom-container {
    margin-bottom: 100px;
  }
}
