.social-btn-right{
    position: relative;
  
   
}
.social-btn-right::after{
    content: " ";
    background-color: #8892B0;
    height: 200px;
    width: 1.5px;
    margin: 0;
    position: absolute;
    display: block;
    top: 180%;
    right: 38%;
    
    
    transform: translate(-50%, -50%);
    
    
}

.email-text{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor:pointer;
    color: #8892B0 ;
    transition: color .5s;
}

.email-text:hover{
    color:#CCD6F6; 
    cursor: pointer;
}



@media only screen and (max-width:762px) {
    .social-btn-right{
        display: none;
    }
    

   
    
}
